<%- include('./includes/head.ejs')  %>

<form action="/" method="post">
    <input type="text" name="username" id="">
    <button type="submit">Submit</button>
</form>
<br>
<a href="/users">Go to Users Page</a>

<%- include('./includes/end.ejs')  %>