.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 10px solid #005547;
    font-family: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid  #005547;
    color:  #005547;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    color: white;
    background-color: #005547;
}